@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: Oswald;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
}

nav {
  background: #02aab0;
  height: 80px;
  width: 100%;
}

label.logo {
  color: azure;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
  line-height: 80px;
  margin: -10px 15px;
}

nav ul li a {
  color: azure;
  font-size: 17px;
  padding: 10px 13px;
  border-radius: 10px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #00000077;
  transition: 0.4s;
}
.checkbtn {
  float: right;
  font-size: 30px;
  color: azure;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 15px;
}

.buttons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-image: url("jar.jpg"); */
  background-size: 1520px;
  background-position-y: center;
  height: 35rem;
}

.txt {
  display: flex;
  margin-top: 25px;
  font-family: Oswald;
  font-weight: bold;
  color: azure;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.cloudinary-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  margin-right: 230px;
  background: #00000077;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  font-family: Oswald;
  font-weight: bold;
  font-size: 16px;
  transition: 0.4s;
  order: -1;
}

upload-menu {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-right: 5px;
  order: -1;
}

.cloudinary-button:hover {
  background: #d2d2d293;
  transform: translateX(-2px);
}

.fa-upload {
  color: #02aab0;
}

search-box-container {
  margin-top: 25px;
  margin-right: 170px;
  height: 10rem;
}

.search-box {
  background: #00000077;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: rgba(255, 255, 255, 0.733);
  color: #02aab0;
}

.search-box:hover {
  background: #d2d2d293;
}

.search-btn {
  color: #02aab0;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #02aab0;
  font-family: Oswald;
  font-weight: bold;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

back-to-top {
  opacity: 0;
  position: fixed;
  transition: all 0.2s ease-in;
  bottom: 3rem;
  left: 3rem;
}

.back-to-top i {
  color: rgba(0, 0, 128, 0.596);
  font-size: 50px;
  transition: all 0.2s ease-in;
}

.back-to-top :hover {
  transform: translateY(-10%);
  color: navy;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

/* Facebook */
.fa-facebook {
  color: #3b5998;
}

.fa-facebook:hover {
  transform: translateY(-1px);
  transition: 0.3s;
}

.GRID-CONTAINER {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  column-gap: 50px;
  row-gap: 50px;
}

.GRID-CONTAINER > div {
  height: 210px;
  background-image: url("https://kerenagam.co.il/wp-content/uploads/2021/06/Thinking-of-getting-a-cat.png");
  background-size: cover;
}
/* Twitter */
.fa-twitter {
  color: #55acee;
}

.fa-twitter:hover {
  transform: translateY(-1px);
  transition: 0.3s;
}

.spacer {
  aspect-ratio: 900/300;
  background-position-y: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.layered-waves {
  /* background-image: url("layered-waves.svg"); */
  width: 100%;
}

/* media query for tablet or smaller */
@media screen and (max-width: 1366px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
    margin-top: 35px;
  }

  .buttons-container {
    background-size: 720px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  search-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
    margin-right: 0px;
  }

  .cloudinary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 300px;
  }

  .txt {
    align-self: flex-start;
    font-size: 25px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 850px) {
  .checkbtn {
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50fa;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .4s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    margin-right: 80px;
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #02aab0;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
